body{
    background-color: #01257D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{
    background-color:  #01257D ;
    height:90px ;
    margin: 8px;
}
.logo{
    position: relative;
    justify-content: center;
    width: 100px;
    height: 95%;
}

.r1,
.r2,
.r3,
.r4 {
    align-items: center;
    position: relative;
    bottom: 1.5vw;
    width: 30px;
    height: 30px;
    margin: 2px 40px;
    position: relative;
    left: 65vw;
    margin-left: 10px; 
}
.menu{
    position: relative;
    width: 100%;
    background-color: #0787AF;
    position: fixed;
    top: 0;
    height: 90px;
    position: relative;
}
.opciones {
    text-align: center; 
}

.opciones p,a {
    text-decoration: none;
    position: relative;
    display: inline-block; 
    margin: 0 50px; 
    color: white;
    bottom: -2.5vw;
    font-size: 20px;
}


.sla1{
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    height: 38vw;
    bottom: -0.1vw;
}
.fondo{
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: #F1EEEE;
    height: 90vw;
    display: flex;
    padding: 20px;
    align-items: center;
    bottom: -12vw;
    padding: 12px;
}
.cont1 {
    position: relative;
    bottom: 38vw;
    justify-content: center;
    border-radius: 12px;
    width: 34%; /* Ajustamos el ancho a un porcentaje */
    height: 35vw; /* Mantenemos el alto relativo */
    border: solid gray;
    left: -6%; /* Ajustamos el margen izquierdo */
    background-color: #E7E1E1;
}

.cont2 {
    position: relative;
    justify-content: center;
    border-radius: 12px;
    width: 34%; /* Ajustamos el ancho a un porcentaje */
    height: 35vw; /* Mantenemos el alto relativo */
    border: solid gray;
    left: 23%; /* Ajustamos el margen izquierdo */
    bottom: 38vw; /* Ajustamos la posición inferior para que esté debajo de .cont1 */
    transform: translateX(-50%); /* Centramos horizontalmente */
    background-color: #E7E1E1;
}

.imgb{
    position: absolute; /* Cambiamos a posición absoluta */
    top: 55%; /* Centramos verticalmente */
    width: 100%;
    left: 49%; /* Centramos horizontalmente */
    transform: translate(-50%, -50%); /* Centramos completamente */
  /* Ajustamos el ancho de la imagen */
}

.imgv {
    width: 100%;
    position: absolute; /* Cambiamos a posición absoluta */
    left: 49%; /* Centramos horizontalmente */
    transform: translateX(-50%); /* Centramos completamente */
    bottom: -3vw;

    /* Ajustamos el ancho de la imagen */
}
