body {
    background-color: #01257D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
}

/* Estilos para el logo */
.logo {
    width: 100px;
    height: 40px; /* Ajuste la altura del logo */
}

/* Estilos para el contenedor 1 */
.container1 {
    background-color: #0787AF;
    width: 100%;
    height: 80px;
    position: fixed; /* Fija el contenedor 1 en la parte superior */
    top: 0; /* Coloca el contenedor 1 en la parte superior */
    z-index: 1000; /* Asegura que el contenedor 1 esté sobre otros elementos */
}

/* Estilos para el menú */


/* Estilos para las opciones del menú */
.opciones {
    text-align: center; /* Alinea las opciones del menú al centro */
}

.opciones p {
    position: relative;
    display: inline-block; /* Para que las opciones del menú estén en línea */
    margin: 0 45px; /* Espacio entre las opciones */
    color: white;
    bottom: -2vw;
    font-size: 20px;
}

/* Estilos para los íconos de redes sociales */
.r1,
.r2,
.r3,
.r4 {
    width: 30px;
    height: 30px;
    margin-left: 10px; /* Espacio entre los íconos de redes sociales */
}
.imagen {
    position: relative;
    text-align: center;
    margin-top: 80px; /* Ajuste para compensar la altura del contenedor 1 */
}
.sla1 {
    width: 100%;
    height: auto; /* Para que la imagen se ajuste automáticamente al ancho */
}

.login {
    position: relative;
    bottom: 58vw;
    width: 25vw;
    height: 35vw;
    border-radius: 14px;
    background-color: #0A125A;
    margin: auto;
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para el formulario */
.formulario {
    text-align: left; /* Alineación del texto del formulario */
    color: #fff; /* Color del texto */
}

/* Estilos para las etiquetas del formulario */
.formulario label {
    font-size: 18px; /* Tamaño de fuente */
}

/* Estilos para los campos de entrada del formulario */
.formulario input[type="email"],
.formulario input[type="password"] {
    width: calc(100% - 20px); /* Ancho del campo de entrada */
    padding: 8px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior */
    border-radius: 6px; /* Radio del borde */
    border: none; /* Sin borde */
    background-color: #fff; /* Color de fondo */
}

/* Estilos para el botón del formulario */
.formulario input[type="submit"] {
    width: 100%; /* Ancho del botón */
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 6px; /* Radio del borde */
    background-color: #0787AF; /* Color de fondo */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilos para el botón del formulario al pasar el cursor */
.formulario input[type="submit"]:hover {
    background-color: #01257D; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para los enlaces del formulario */
.formulario a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 14px; /* Tamaño de fuente */
}

/* Estilos para los enlaces del formulario al pasar el cursor */
.formulario a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
.container2{
    position: relative;
    bottom: 0.5vw;
    background-color: gainsboro;
    width: 100%;
    height: 40vw;
   
}